<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<div>
    <form action="/addUser" method="post">
        <input name="uName" type="text" placeholder="username">
        <input name="pWord" type="password" placeholder="password">
        <input id="loginButton" type="submit" value="new user">
    </form>
</div>
<div>
    <form action="/getUser" method="get">
        <input type="submit" value="list users">
    </form>
</div>

</body>
</html>
